/* Container */
.containers {
     /* Space between inner and image */
     /* Align items to the top of the container */
    height: 100vh; /* Full screen height */
    background-image: url('src/assets/caloriei.jpg');
    background-size: cover;
    
    background-position: center; 
    background-repeat: no-repeat;
    margin-top: 130px;
    display: flex;
    justify-content: center;
   
}


.inner{
    width: 50%;
    background-color: white;
    margin-top: 8px;
    height: auto
}


.section, .tagline{
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

